.product-wrapper {
  display: flex;
  justify-content: space-between;
}
.product-wrapper .products-item {
  width: 23%;
}
.product-wrapper .products-item img {
  width: 100%;
  height: 150px;
  padding: 2px;
  border: 1px solid #c0c0c0;
}
.product-wrapper .products-item .product-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}
.product-wrapper .products-item button {
  display: block;
  width: 100%;
  border: 0px;
  background: #2a5ea5;
  color: #fff;
  padding: 7px;
  border-radius: 6px;
}